apiVersion: apps/v1
kind: Deployment
metadata:
  name: spider-rainbows
  namespace: default
  labels:
    app: spider-rainbows
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spider-rainbows
  template:
    metadata:
      labels:
        app: spider-rainbows
    spec:
      containers:
      - name: spider-rainbows
        image: wiggitywhitney/spider-rainbows:v1-main-d22abc2
        ports:
        - containerPort: 8080
          name: http
        livenessProbe:
          httpGet:
            path: /healthz
            port: 9090
          initialDelaySeconds: 10
          periodSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /healthz
            port: 9090
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          requests:
            memory: "10Gi"
            cpu: "4000m"
          limits:
            memory: "10Gi"
            cpu: "4000m"
